{% extends 'base.html' %}

{% block titulo %}Blog{% endblock %}

{% block style_css %}
	img { width:150px;}
{% endblock %}

{% block sesion %}Bienvenido {{usuario.username|upper}} <a href="/cerrar" class="btn btn-large btn-primary">Cerrar sesion</a>{% endblock %}


{% block sidebar %}

	<ul>
		<ul class="media-list">
		  <br>
		  <li class="media">
		    <div class="media-body">
		      <p><h4><a href="/perfil">Ver perfil</a></h4></p>
		      <p>Muestra informacion sobre ti.</p>
		      {% if usuario.is_staff%}
		      <p><h4><a href="/entrada/nueva">Agregar una entrada</a></h4></p>
		      <p>Permite introducir una entrada nueva.</p>
		      <p><h4><a href="/administrar/usuarios">Administrar Usuarios</a></h4></p>
		      <p>Permite introducir una entrada nueva.</p>
		      {% endif %}
		      <!-- Nested media object -->
		      <div class="media">
		        <br>
		     </div>
		    </div>
		  </li>
		</ul>
	</ul>

	
{% endblock %}
    
{% block contenido %}
	<ul>
		{% for dato in datos %}
		<ul class="media-list">
		  <br>
		  <li class="media">
		    <a class="pull-left" href="#">
		      <img class="media-object" src='{{MEDIA_URL}}{{dato.imagen}}'>
		    </a>
		    <div class="media-body">
		      <p><h4 class="media-heading"><a href='{% url principal.views.detalle_entrada dato.id %}'>{{dato.titulo}}</a></h4></p>
		      <p>{{dato.cuerpo}}</p>
		      <!-- Nested media object -->
		      <div class="media">
		        ...
		        <br>
		     </div>
		    </div>
		  </li>
		</ul>
		{% empty %}
	   	 <p>Aun no hay entradas registradas.</p>
	  	{% endfor %}

	</ul>
{% endblock %}
